.container {
  height: 100vh;
}

/* MAP global CSS */

.mapboxPopup {
  color: var(--primary-color);
  font-size: var(--size-xxs);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupImg {
  width: var(--size-s);
  height: var(--size-s);
  margin-right: var(--size-xxs);
}
