.root {
  color: var(--primary-color);
  width: 90%;
  margin: 0 auto;
}

.primaryHeading {
  margin-top: var(--size-m);
}

.secondaryHeading {
  margin-top: var(--size-s);
}

.paragraph {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  margin-top: var(--size-xs);
}
.span {
  display: block;
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: var(--size-xs);
}

.listItem {
  list-style: none;
}
.listItem::before {
  content: '🚑';
  height: var(--size-xxs);
  width: var(--size-xxs);
  margin-right: var(--size-xxs);
}
